.action {
  margin: 12px 0;
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  padding: 12px;
  color: #5d6285;
  font-size: 16px;
  margin: 0 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s color;
  cursor: pointer;
}

.word:hover,
.word--active {
  color: #fff;
}

.track {
  position: relative;
  max-width: 640px;
  max-height: 80px;
  background-color: #0e1422;
}

.track__start,
.track__end {
  position: absolute;
  top: 0;
  height: 80px;
  width: 0px;
  z-index: 1;
}

.track__start:before,
.track__end:before {
  position: absolute;
  content: '';
  width: 24px;
  height: 80px;
  background-color: red;
}

.track__start {
  left: 0;
}

.track__start:before {
  top: 0;
  left: -24px;
  border-radius: 24px 0 0 24px;
}

.track__end {
  right: 0;
}

.track__end:before {
  top: 0;
  right: -24px;
  border-radius: 0 24px 24px 0;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.keyboard__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  font-size: 14px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 4px;
  margin: 0 6px;
  height: 34px;
  width: 40px;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  outline: none;
}

.keyboard__button--active {
  background: #fff;
  color: #0e1422;
}

.keyboard__button--block {
  width: 100%;
}

.video-list {
  color: #fff;
}

.video-list__item {
  padding: 0 12px;
}
